<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edytuj Gościa</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a href="/">Strona Główna</a> |
    <a href="/guests/list">Goście</a> |
    <a href="/rooms/manage">Pokoje</a> |
    <a href="/reservations/manage">Rezerwacje</a> |
    <a href="/reports">Raporty</a>
</div>
<div class="container">
    <h1>Edytuj Gościa</h1>
    <form th:action="@{/guests/edit/{id}(id=${guest.guestId})}" method="post">
        <label for="name">Imię:</label>
        <input type="text" id="name" name="name" th:value="${guest.name}" required>

        <label for="surname">Nazwisko:</label>
        <input type="text" id="surname" name="surname" th:value="${guest.surname}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${guest.email}" required>

        <label for="phoneNumber">Telefon:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" th:value="${guest.phoneNumber}" required>

        <button type="submit">Zapisz zmiany</button>
    </form>
</div>
</body>
</html>
