<!DOCTYPE html>
<html>
<head>
    <title>Strona Główna</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a href="/">Strona Główna</a> |
    <a href="/guests/list">Goście</a> |
    <a href="/rooms/manage">Pokoje</a> |
    <a href="/reservations/manage">Rezerwacje</a> |
    <a href="/reports">Raporty</a>
</div>
<div class="container home-page">
    <h1>Witamy w Systemie Zarządzania Hotelem</h1>
    <p>Wybierz opcję z paska nawigacyjnego, aby rozpocząć.</p>
</div>
</body>
</html>
